{% extends 'base.html' %}

{% block content %}
<h1>Welcome to the PoKedex!</h1>
<p>Browse through the links below to find your desired Pokemon by their type!:</p>
<ul>
    <li><a href="/pkmn/bug">Bug</a></li>
    <li><a href="/pkmn/dragon">Dragon</a></li>
    <li><a href="/pkmn/electric">Electric</a></li>
    <li><a href="/pkmn/fighting">Fighting</a></li>
    <li><a href="/pkmn/fire">Fire</a></li>
    <li><a href="/pkmn/flying">Flying</a></li>
    <li><a href="/pkmn/ghost">Ghost</a></li>
    <li><a href="/pkmn/grass">Grass</a></li>
    <li><a href="/pkmn/ground">Ground</a></li>
    <li><a href="/pkmn/ice">Ice</a></li>
    <li><a href="/pkmn/normal">Normal</a></li>
    <li><a href="/pkmn/poison">Poison</a></li>
    <li><a href="/pkmn/psychic">Psychic</a></li>
    <li><a href="/pkmn/rock">Rock</a></li>
    <li><a href="/pkmn/water">Water</a></li>
</ul>
{% endblock %}